@charset "utf-8";

body {
    overflow-x: hidden;
}

header {
    padding: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
}

.mobile-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    display: block;
}

.span-logo {
    color: #00f365;
}

nav {
    display: none;
}

.nav-mobile {
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;

    transition: all .4s;
}

.nav-mobile ul {
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
}

.nav-mobile li:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}

#hack-mobile-menu:checked ~ .nav-mobile {
    margin-left: 0px;
}

/* Code for Web 2 */
.mobile-menu {
    height: 100%;
    background-color: aqua;
    position: absolute;
    transform: translateX(100%);
    transition: all .4s;
}

.mobile-menu-toggle {
    transform: translateX(0%)
}