@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#ecf0f1, #8e44ad);
}

.container {
    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.parent {
    width: 500px;
    height: 500px;

    border-radius: ;

    position: relative;
    z-index: 1;

    background: radial-gradient(closest-side, #e74c3c, #ecf0f1, #8e44ad);

    /* border: 1px solid black; */

    transition: all 5s;
}

.parent:hover {
    transform: rotate(10000deg) scale(0);
}

.child {

    position: absolute;

    /* border: 1px solid black; */

    z-index: 0;
}

.sibling-1 {
    background-color: #3498db;
    top: -100px;
    right: -250px;
    bottom: ;
    left: ;

    width: 100%;
    height: 350px;
}

.sibling-2 {
    background-color: #34495e;
    top: ;
    right: -40px;
    bottom: -100px;
    left: ;

    width: 100px;
    height: 200px;
}

.sibling-3 {
    background-color: #27ae60;
    top: ;
    right: ;
    bottom: -50px;
    left: -250px;

    width: 100%;
    height: 100px;
}

.sibling-4 {
    background-color: #f1c40f;
    top: -150px;
    right: ;
    bottom: ;
    left: 25px;

    width: 100px;
    height: 250px;
}

.child-1 {
    background-color: rgba(192, 57, 43, .5);
    top: 0;
    right: -45px;
    bottom: ;
    left: ;

    width: 100px;
    height: 100%;
    z-index: 14;
}

.child-2 {
    background-color: #e67e22;
    top: 100px;
    right: ;
    bottom: ;
    left: 100px;

    width: 100%;
    height: 50px;

    z-index: 2;
}

.child-3 {
    background-color: rgba(26, 188, 156,1.0);
    top: ;
    right: ;
    bottom: 0;
    left: 125px;

    width: 350px;
    height: 150px;

    z-index: 5;
}

.child-4 {
    background-color: #7f8c8d;
    top: ;
    right: -150px;
    bottom: 0;
    left: ;

    width: 350px;
    height: 50px;

    z-index: 10;
}



/* Utility classes */

.add-flex {
    display: flex;
}