@charset 'utf-8';

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    padding: 20px;
}

.sub-menu-1 {
    padding-left: 30px;
}

.sub-menu-1:hover {
/*    background-color: aquamarine;*/
}

.sub-menu-1:hover .sub-menu-2 {
    visibility: visible;
    opacity: 1;
    height: 13vh;
    background-color: red;

}

.sub-menu-2 {
    padding-left: 30px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    
    transition: all .5s;
}