@charset 'utf-8';

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #fff, rebeccapurple);
}

.grid-container {
    width: 80%;
    min-height: 80vh;
    border: 1px solid black;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.grid-item:nth-child(1) {
    background-image: url(../images/portfolio/clown.jpg);
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
}

.grid-item:nth-child(2) {
    background-image: url(../images/portfolio/tree.jpg);
    background-size: cover; 
}

.grid-item:nth-child(3) {
    background-image: url(../images/portfolio/cat.jpg);
    background-size: cover; 
}

.grid-item:nth-child(4) {
    background-image: url(../images/portfolio/cat.jpg);
    background-size: cover; 
}

.grid-item:nth-child(5) {
    background-image: url(../images/portfolio/clown.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
}

.grid-item:nth-child(6) {
    background-image: url(../images/portfolio/tree.jpg);
    background-size: cover; 
}

.grid-item:nth-child(7) {
    background-image: url(../images/portfolio/tree.jpg);
    background-size: cover; 
}

.grid-item:nth-child(8) {
    background-image: url(../images/portfolio/cat.jpg);
    background-size: cover; 
}

.grid-item:nth-child(9) {
    background-image: url(../images/portfolio/clown.jpg);
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 10px;
}

.grid-item {
    border: 1px solid black;
    filter: grayscale(100);
    transition: all .4s;
}

.grid-item:hover {
    transform: scale(1.04);
    filter: grayscale(0);
    
}
