@charset 'utf-8';

body {
    background-color: gray;
}


.grid-container {
    width: 75%;
    height: 80vh;
    margin: auto;
    
    display: grid;
    grid-template-areas: 
        ". b ."
        "d . f"
        ". h .";
}

.grid-item:nth-child(even) {
    background-color: burlywood;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.grid-item:nth-child(odd) {
    background-color: cornflowerblue;
}

.grid-item:nth-child(1) {
    background-color: rgb(125, 197, 176);
    grid-area: b;
}
.grid-item:nth-child(2) {
    background-color: rgb(216, 100, 237);
    grid-area: d;
}
.grid-item:nth-child(3) {
    background-color: rgb(216, 237, 100);
    grid-area: f;
}
.grid-item:nth-child(4) {
    background-color: rgb(237, 100, 146);
    grid-area: h;
}

