@charset "utf-8";

/* Kommentar */
body {
	overflow-y: hidden;
	font-family: 'Antic Slab', serif;
}

ul {
	height: 100vh;
	display: grid;
	place-items: center;
	list-style: none;
}

ul li {
	font-size: 26px;
}

ul li::first-letter {
	font-weight: bold;
	font-size: 30px;
}
