@charset 'utf-8';

* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 10px;
}

.form-container {
    width: 70%;
    min-height: 40vh;
    margin: auto; 
    
    padding: 20px;
    
    border: 1px solid black;
    background: #BE93C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.test-form {
    height: 100%;
    font-family: fantasy;
}

.test-form fieldset {
    height: 100%;
    border: 5px double black;
    padding: 20px;
}

.test-form legend {
    padding: 10px;
    font-size: 20px;
    transform: rotate(-5deg);
    color: white;
    background: #000;
}

.form-required {
    color: red;
}

.test-form textarea {
    width: 60%;
    height: 100px;
    resize: none;
    padding: 5px;
    outline: none;    
    border-radius: 5px;
}

.test-form p {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}

.test-form input {
    width: 60%;
/*    background-color: rgba(0, 0, 0, 0);*/
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
}

.test-form input[type="text"] {
    padding: 5px;
}

.test-form input[type="email"] {
    padding: 5px;
}

.test-form button {
    margin-top: 20px;
    width: 62%;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0); /* red green blue alpha */
    outline: none;
}

.test-form button:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

::placeholder {
    font-size: 11px;
    color: black;
}

::selection {
    background: orange;
}

.fa-bars {
    color: red;
    transform: rotate(90deg);
}
