@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
}

#userInput {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-bottom: 2px solid #ddd;
    margin: auto;
    display: block;
}

#showSubject {
    text-align: center;
    padding: 10px;
}

#currentDay {
    text-align: center;
    font-size: 60px;
}

#currentDay::first-letter {
    color: red;
}

#square {
    width: 50px;
    height: 50px;

    background-color: #000;
}

#draw {
    width: 150px;
    height: 50px;
    outline: none;
    margin-top: 50px;
    font-weight: bold;
}

#congratsText {
    width: 300px;
    height: 400px;
    border: none;
    outline: none;
}