@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.container {
    width: 100%;
    height: auto;

    flex-direction: column;
}

header {
    width: 100%;
    height: 250px;
    padding: 0px 200px 0px 200px;

    background-color: #F2F2F2;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
        background-color: red;
    }
} */

header h1 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;

}

header h1 span {
    color: #007AF3;
}

nav {
    width: 40%;
}

.nav-mobile {
    display: none;
}

nav ul {
    list-style: none;
    font-size: 20px;
    justify-content: space-evenly;
    text-transform: uppercase;
}

#hack-mobile-menu {
    display: none;
}

.mobile-menu-icon {
    display: none;
}

main {
    width: 100%;
    min-height: 700px;
}

.main-left {
    flex: 1;
    background-color: #637692;
}

.main-center {
    flex: 3;
    background-color: #5F6C7E;
}

.main-right {
    flex: 1;
    background-color: #637692;
}

footer {
    width: 100%;
    height: 250px;

    background-color: #3E4043;
}


/* Utility Classes */

.addFlex {
    display: flex;
}

.active {
    font-weight: bold;
}