@charset 'utf-8';

body {
    background-color: #f1f1f1;
}

.box {
    width: 100px;
    height: 100px;

    background-color: coral;
}

#unique {
    width: 100px;
    height: 100px;

    background-color: cadetblue;

    margin: 10px;
    padding: 10px;
}

/* Utility classes */

.m-10 {
    margin: 10px;
}

.mx-10 {

}

.my-10 {

}

.p-10 {

}

.px-10 {

}

.py-10 {
    
}

.br-5 {
    border-radius: 5px;
    transition: all .4s;
}

.br-5:hover {
    border-radius: 150px;
}

.br-10 {
    border-radius: 10px;
}

.add-flex {
    display: flex;
}